@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:host {
  font-family: 'Roboto', sans-serif;
}

.container-principal {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 380px;
  background-color: #f8f9fa;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dee2e6;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.titulo {
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
  margin-top: 0;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 94%;
  max-width: 400px;
}

.filtro-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.filtro-input:focus {
  outline: none;
  border-color: #004d40;
  box-shadow: 0 0 5px rgba(0, 77, 64, 0.2);
}

.lista-postos {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.item-posto {
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
  cursor: pointer;
  transition: background-color 0.2s;
}

.item-posto:hover {
  background-color: #e9ecef;
}

.nome-posto {
  font-weight: 500;
  color: #212529;
  font-size: 16px;
}

.endereco-posto {
  font-size: 14px;
  color: #6c757d;
  margin-top: 4px;
}

.loading-item, .item-vazio {
  padding: 20px;
  text-align: center;
  color: #6c757d;
  font-style: italic;
}

.map-container {
  flex-grow: 1;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}